body {
  width: 100%;
  margin: 0%;
  background-color: #f7f7f9;
}

.first {
  width: 100%;
  height: 660px;
  margin: 0%;
  background-image: url("images/Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-bottom-left-radius: 80px 80px;
  background-size: 100% 80%;
}

.headline-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  justify-content: center;
}

.dwork {
  display: none;
}

.toolbar {
  width: 90%;
  border: #172b4d;
  margin-inline: 5%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-top: 15px;
}

.primarytext,
.primarytext01 {
  width: 320px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  align-items: center;
  color: #172b4d;
  margin: 0%;
  margin-bottom: 0%;
  margin-left: 4px;
}

.primarytext01 {
  margin-bottom: 6%;
}

.primarytext2 {
  width: 327px;
  height: 146px;
  top: 276px;
  left: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0%;
}

.connect {
  width: 117px;
  height: 24px;
  margin-top: 2%;
}

.social,
.social2 {
  display: flex;
  width: 200px;
  height: 24px;
  align-items: baseline;
  margin: 0%;
  list-style-type: none;
  justify-content: start;
  padding-left: 0%;
}

.letsconnect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 2%;
}

.transitions:hover {
  transform: scale(1.5);
}

.Works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 70px;
}

.card11,
.card22,
.card33,
.card44 {
  background-color: #fff;
  height: 552px;
  width: 300px;
  left: 24px;
  top: 114px;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.card22,
.card44 {
  height: 596px;
}

.Tonic {
  display: flex;
  flex-direction: column;
}

.tonic-sec,
.tonic-sec2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  height: 36px;
  width: 295px;
  left: 0;
  top: 0;
  margin: 4%;
  margin-left: 1%;
}

.canopy-cont {
  display: flex;
  align-items: baseline;
}

.canopy,
.canopy0 {
  height: 16px;
  display: flex;
  align-items: baseline;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  align-content: flex-start;
  margin-top: 0%;
}

.canopy-li {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
  column-gap: 25px;
}

.tonic-des,
.tonic-des0,
.tonic-des1 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  height: 76px;
  width: 295px;
  left: 0;
  top: 92px;
  margin-top: 7%;
}

.buttons {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0%;
  padding-left: 0%;
}

.html-button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: auto;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.css-button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: auto;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  order: 1;
  flex-grow: 0;
}

.js-button {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: auto;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.see-project-sign {
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10%;
}

.see-project-sign:enabled {
  height: 48px;
  width: 130px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

.see-project-sign:hover {
  height: 48px;
  width: 130px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 252px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.see-project-sign:active {
  height: 48px;
  width: 130px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 407px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #2230d2;
  border-radius: 8px;
}

.see-project-sign:disabled {
  height: 48px;
  width: 130px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5e6c84;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-container {
  margin-top: 20%;
}

.Multi-Post-Stories,
.Multi-Post-Stories2 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  height: 80px;
  width: 200px;
  left: 0;
  top: 0;
  margin: 4%;
  margin-left: 1%;
}

.Tonic2 {
  display: flex;
  flex-direction: column;
}

.about1 {
  margin-top: 30%;
  background: #fff;
  border-top-right-radius: 80px 80px;
  padding-top: 15%;
  padding-bottom: 2%;
}

.about-myself {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.super-div {
  margin-left: 5%;
}

.tittle-about {
  width: 250px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  text-align: bottom;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 15%;
  margin-bottom: 0%;
}

.p-about {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin-bottom: 0%;
}

.letsconnect2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8%;
}

.get-my-resume {
  border-radius: 8px;
  box-sizing: border-box;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  width: 165px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 5%;
  margin-bottom: 0%;
}

.get-my-resume:enabled {
  width: 165px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 100px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
}

.get-my-resume:hover {
  width: 165px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 252px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.get-my-resume:active {
  width: 165px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  left: 407px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #2230d2;
  border-radius: 8px;
}

.get-my-resume:disabled {
  width: 165px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #5e6c84;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social2 {
  display: flex;
  justify-content: space-around;
}

.s1 {
  order: 4;
}

.s2 {
  order: 2;
}

.s3 {
  order: 5;
}

.s4 {
  order: 1;
}

.s5 {
  order: 3;
}

.skill-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.about2 {
  padding-bottom: 10%;
}

.lang {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-top: 12%;
  background-image: url('./images/disarrow.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -2%;
  margin-left: 5%;
  padding-bottom: 10%;
}

.frame {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-image: url('./images/greater.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -50%;
  margin-top: 8%;
  margin-left: 5%;
}

.skills {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-image: url('./images/greater.png');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -50%;
  margin-top: 4%;
  margin-left: 5%;
}

.solid {
  border: 1px solid #dfe1e6;
  margin-top: 6%;
}

.lang-items {
  margin-top: 4px;
}

.lang-items0 {
  margin-top: 12%;
}

.head-cont {
  margin-left: 20px;
}

.card1,
.card3 {
  padding-top: 6%;
}

footer {
  background-image: url("images/form-background.png");
  background-repeat: no-repeat;
  background-size: 220px 719px;
  background-color: #6070ff;
  background-position: right;
  background-position-y: 70%;
  border-top-left-radius: 80px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-form {
  list-style-type: none;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer h1 {
  left: -213px;
  top: 4734px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
  padding-top: 25%;
}

footer p {
  width: 90%;
  left: 24px;
  margin-top: 0%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 25px;
}

input[type=text] {
  width: 93%;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-left: 16px;
}

input[type=email] {
  width: 93%;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding-left: 16px;
}

textarea {
  left: 0;
  top: 0;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 15px;
  padding-left: 16px;
  padding-right: 38px;
}

button[type=submit] {
  border-radius: 8px;
  box-sizing: border-box;
  width: 165px;
  height: 48px;
  border: 1px solid #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 1%;
  margin-bottom: 0%;
  margin-left: 8px;
}

button:enabled { background-color: #fff; }
button:hover { background: #7f8cff; }
button:active { background: #2230d2; }
button:disabled { color: #5e6c84; }

.foot-back {
  background-color: #fff;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .first {
    background-image: url("images/desktop-background.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 96% 82%;
    height: 16.97%;
    border-bottom-left-radius: 150px 150px;
    padding-bottom: 20%;
  }

  .canopy0,
  .hamburger,
  .lang-items0,
  .lang-items {
    display: none;
  }

  .desk-nav {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-align: left;
    color: #344563;
    gap: 20px;
    margin-top: 0%;
  }

  .desk-nav a {
    text-decoration: none;
    color: #344563;
  }

  .headline {
    width: 100%;
    margin-top: 20%;
    margin-left: 1.2%;
  }

  .headline-cont {
    margin-left: 16%;
  }

  .primarytext,
  .primarytext01 {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .primarytext01 {
    margin-bottom: 1%;
  }

  .primarytext2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 66%;
    height: 0%;
    margin-bottom: 2%;
  }

  .letsconnect {
    margin-bottom: 0.8%;
  }

  .card4 {
    padding-bottom: 0%;
  }

  .card11,
  .card22,
  .card33,
  .card44 {
    flex-direction: row;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 80%;
  }

  .card22,
  .card44 {
    flex-direction: row-reverse;
  }

  .Tonic,
  .Tonic2 {
    margin-left: 5%;
    margin-top: 0.6%;
  }

  .tonic-sec {
    margin-left: 0%;
    font-size: 40px;
    line-height: 52px;
  }

  .Tonic2 {
    order: -1;
    margin-left: 5%;
    margin-top: 5%;
  }

  .canopy-li {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .canopy {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .tonic-des0,
  .tonic-des1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    margin-bottom: 1.8%;
  }

  .dwork {
    display: block;
    height: 100%;
    width: 100%;
  }

  .mwork,
  .tonic-sec2,
  .canopy,
  .tonic-des,
  .Multi-Post-Stories2 {
    display: none;
  }

  .footer-h1 {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  footer p {
    width: 35%;
  }

  footer {
    padding-bottom: 7%;
    background-image: url("images/formd.svg");
    border-top-left-radius: 150px 150px;
    padding-top: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
  }

  button[type=submit] {
    margin-left: 30%;
  }

  .textm {
    display: none;
  }

  .about1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 12%;
    padding-top: 12%;
    padding-left: 5%;
    gap: 5%;
    margin-top: 20%;
    border-top-right-radius: 150px 150px;
  }

  .p-about {
    width: 447px;
    height: 102px;
  }

  .skill-list {
    justify-content: flex-start;
    width: 90%;
  }

  .lang {
    display: flex;
    background-position-x: 95%;
    padding-bottom: 5%;
    margin-top: 8%;
  }

  .about2 {
    padding-bottom: 0%;
    width: 60%;
  }

  .lang-items2 {
    display: flex;
    gap: 5%;
    margin-left: 4%;
  }

  .frame {
    background-position-y: -20%;
    margin-top: 5%;
  }

  .skills {
    background-position-y: -20%;
    margin-top: 2%;
  }

  .solid {
    margin-top: 3%;
  }

  .get-my-resume {
    margin-top: 10%;
  }

  .card3 {
    padding-top: 0%;
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    margin-top: auto;
    margin-bottom: auto;
  }

  .card1 {
    padding-top: 0%;
  }

  .Works {
    grid-row-gap: 10%;
    grid-template-rows: repeat(5, 1fr);
    padding-bottom: 20%;
  }

  input[type=text] {
    width: 30.5em;
    height: 48px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  input[type=email] {
    width: 30.5em;
    height: 48px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding-left: 16px;
  }

  form {
    width: auto;
  }

  .contactp {
    width: 31%;
  }

  .tonic-sec1,
  .Multi-Post-Stories1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .facebook,
  .canopyd,
  .Uber {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .Multi-Post-Stories {
    width: 80%;
    height: 9%;
    margin: 1%;
    margin-left: 0%;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .tonic-des1 {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
  }

  .tonic-des2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 90%;
    margin-bottom: 6%;
  }

  .Tonic {
    margin-left: 10%;
  }

  .tonic-sec1 {
    margin-top: 5%;
    margin-bottom: 1%;
  }

  .tonic-des3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
  }

  .Multi-Post-Stories1 {
    width: 80%;
    height: 9%;
    margin: 1%;
    margin-left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .canopyd,
  .js,
  .html,
  .css,
  .textd,
  .tonic-des3,
  .desk-nav,
  .facebook,
  .tonic-des1,
  .tonic-sec1,
  .Multi-Post-Stories1,
  .Uber,
  .tonic-des2 {
    display: none;
  }

  .lang {
    padding-bottom: 0%;
  }

  .ul-form {
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  button[type=submit] {
    margin-top: 0%;
  }

  footer {
    padding-bottom: 15%;
  }

  input[type=text] {
    width: 17.9em;
    margin-left: auto;
    margin-right: auto;
  }

  input[type=email] {
    width: 17.9em;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    padding-right: 1%;
  }

  .about2 {
    padding-bottom: 2%;
  }
}
